body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background-container {
    background: url('chocolate.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 330px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: aqua;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-signup-heading {
    text-align: center;
    margin-bottom: 20px;
}

.form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: 44px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

.btn {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    background-color: #ea0606; /* Set the button color to green */
    color: white; /* Set the text color to white */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


